.sidebar {
    width: 20%;
    background-color: rgba(4, 0, 53, 0.5);
    border-right: 1px #111044 solid;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
}

.logotype {
    padding: 0px 15px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.tab-buttons-block {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.tab-button {
    color: #7c7c7c;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgba(12, 8, 58, 0.5);
    border: 1px #1a185a solid;
    transition: all ease-in-out 100ms;
}

.tab-button:hover {
    color: #fff;
    border: 1px #322ea1 solid;
}

.active {
    color: #fff;
    background-color: rgba(63, 55, 153, 0.5);
}